body {
    background-color: #00001a;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-size: 24px;
    width: 100%;
    height: 100%;
}
.form-grid{
    /* columns:20px 3; */
    display:inline-block;
    margin: 20px;
    /* margin: auto; */
    /* align-content: center; */
}
div .login{
    display:inline-block;
    border: 5px solid orange;
    box-shadow: 5px 10px;
    padding: 0em 1rem;
    border-radius: 25px;
    height: 400px;
    width: 200px;
}
/* .login.label{  //not working
    text-align: center;
    vertical-align: middle;
} */
.login p{
    text-align: center;
    padding: 20px;
    vertical-align: middle;
}
.box-input input{
    border: none;
}
.box-input button{
    text-align: center;
    border: none;
}
.box-input{
    background-color: white;
    border: 5px solid black;
    align-content: center;
    padding: 10px;
    border-radius: 25px;
    width: 25vh;
    height: 4vh;
}
.box-submit{
    background-color: white;
    border: 5px solid black;
    align-content: center;
    padding: 10px;
    border-radius: 25px;
    width: 10vh;
    height: 4vh;
}
i{
    color: black;
    float: left;
}
[type="text"]{
    float: right;
}
/* .form:focus-within {
    visibility: visible;
    opacity: .95;
  } */
  .form{
    width:30%;
    float:center;
    }
  .login col-1{
      position: absolute;
      width: 100%;
      top: 20%;
      left: 20%;
      translate: (-20%,-20%);
  }
  .login .form {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-out;
  }

  .login:hover .form,
  .form:focus-within {
    visibility: visible;
    opacity: .95;
  }
  /* .login:hover .label,
  .label:focus-within {
    visibility: visible;
    opacity: .95;
  } */
/* .form{

    align-items: center;
    align-self: center ;
    align-content: center;
    text-align: center;
    vertical-align:middle;
    opacity: 0;
    -moz-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}
.form:hover,[autocomplete]:hover {
    opacity: 1;
    /* opacity: 1;
    animation: slide 10s;
    animation-delay: 10s;
}
*/
.box-input i{
    float: left;
    color: black;
}
/* @keyframes slide{
    from{opacity: 0;}
    to{opacity: 1;}
} */
/* .login:hover .label{
    display: none;
} */

/* #del:link{
    color: white;
}
#del:visited{
    color: chocolate;
}

li::after{
    color: greenyellow;
} */