@import url('style.css');

.code-editor{
    --width: 950px;
    --height: 500px;
    overflow: hidden;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
    width: var(--width);
    height: var(--height);
    left: calc( 50% - calc(var(--width) / 2));
    /* top: calc(50% - calc(var(--height) / 2)); */
    top: 5px;
    /* box-sizing: border-box; */
    /* border: 5px solid red; */
    /* border-radius: 5px; */
    /* transform: translate(-50%,-50%);
    top: calc( 50% + 100px);
    left: calc( 50% + 250px); */
    color: black;
    background-color: whitesmoke;
}
.dir-button{
    position: relative;
    margin: 10px;
}
#go-back{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 22px;
    transition: .5s ease-out;
}
#go-forward{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 22px;
    float: right;
    transition: .5s ease-out;
}
#go-forward:hover{
    transform: scale(1.25);
}
#go-back:hover{
    transform: scale(1.25);
}
textarea{
    border: 2px solid black;
    position: relative;
    width: 900px;
    resize: vertical;
    z-index: 2;
    /* border-radius: 5px; */
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
}

#code-title{
    margin: 10px;
}

#code-title p{
    display: inline;
    margin: 5px;
}
#code-title p span::before{
    content: '';
    margin-top: 5px;
    height: 2px;
    border-left: 2px solid black;
    border-inline-start-color: palevioletred;
    padding: 5px;
}
.code-language{
    float: right;
    border-radius: 5px;
}
.code-language select{
    border-radius: 5px;
}
.submit-button{
    float: right;
}