@import url('style.css');

.box {
    border-radius: 5px;
    background-color: aqua;
    text-align: justify;
    margin: 10px;
    padding: 5px;
}

.box-header {
    background-color: cadetblue;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

.box-right {
    float: right;
}

.box-body {
    padding: 20px;
    background-color: blueviolet;
    border-radius: 0px 0px 20px 20px;
}

.container .file-upload {
    border-radius: 10px;
    height: 40%;
    width: 80%;
    border-style: dotted;
}

.file-upload input {
    text-decoration: none;
}

input[type="file"] {
    /* display: none; */
    text-decoration: none;
    margin: 10px;
}

.text-doc textarea {
    width: 150px;
    border-radius: 5px;
}

.text-doc {

    box-shadow: 6px white;
}