* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #00001a;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


/* nav bar */
.logo {
    float: left;
}

.nav-bar {
    position: fixed;
    background-color: rgba(255, 87, 51, .5);
    width: 100%;
    padding: 20px;
    height: 30px;
    display: inline-block;
}

.nav-bar .line {
    background-color: #90A4AE;
}

.nav-bar .logo h3 {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    padding-left: 20px;
    font-weight: 900;
}

#id_closeBtn {
    background: none;
    border: none;
    /* position: absolute; */
    align-self: center;
    float: left;
    transition: .5s ease-out;
}

.nav-btn:hover {
    color: #DAF7A6;
}


.nav-bar .nav-right {
    background-color: #90A4AE;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
    float: right;
    border: none;
    background: none;
}


.nav-bar .btn1 {
    /* top: 0px; */
    /* padding-left: 5px; */
    /* margin: 0; */
    background: none;
    border: none;
    transition: .5s;
}

.nav-bar .btn1 i {
    font-size: 28px;
}

.nav-bar .btn1:hover {
    color: #DAF7A6;
}

/* nav bar ends */

/* side bar */

.side-bar {
    position: absolute;
    background-color: #581845;
    margin-top: 70px;
    padding-top: 40px;
    box-sizing: border-box;
    position: fixed;
    width: 250px;
    z-index: 1;
    height: 100%
}


.side-bar .user-name {
    position: relative;
    text-align: center;
    /* left: 50%; */
    /* margin: auto; */
    color: aliceblue;
    margin-bottom: 20px;
    font-size: 22px;
}

.side-bar .profile-img img {
    position: relative;
    background-color: #00001a;
    left: calc(50% - 40px);
    border: 5px solid white;
    border-color: white;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.side-bar .menu a {
    position: relative;
    text-decoration: none;
}

.side-bar .menu a .btn1 {
    position: relative;
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: start;
    padding-left: 10px;
    box-sizing: border-box;
    transition: .5s;
}

.side-bar .menu a .btn1:hover {
    background-color: #DAF7A6;
    transform: scale(1.05);
}

.side-bar .menu a .btn1 .icon {
    position: relative;
    float: left;
    margin-right: 10px;
}


/* side bar ends */

.main-area {
    position: absolute;
    color: #581845;
    box-sizing: border-box;
    align-items: stretch;
    overflow: auto;
    /* overflow-x: hidden; */
    background-color: #DAF7A6;
    width: calc(100% - 250px);
    /* max-width: calc(100%); */
    height: calc(100% - 70px);
    top: 70px;
    left: 250px;
    transition-property: width, left;
    transition-delay: .1s;
    transition-duration: .5s;
    /* margin-top: 20px;
    top: 50%;
    left: 50%; */
}

.full-screen {
    left: 0px;
    width: 100%;
    transition-property: width, left;
    /* transition-delay: .1s; */
    transition-duration: .5s;
}

.hide-side-bar {
    width: 0%;
}

/* main area direction buttons */

.dir-button {
    position: sticky;
    margin: 10px;
}

#go-back {
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 22px;
    transition: .5s ease-out;
}

#go-forward {
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 22px;
    float: right;
    transition: .5s ease-out;
}

#go-forward:hover {
    transform: scale(1.25);
}

#go-back:hover {
    transform: scale(1.25);
}

/* main area direction buttons */


/* #attChart{
    background-color: #90A4AE;
} */